In [1]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession \
       .builder \
       .appName('Aula') \
       .enableHiveSupport() \
       .getOrCreate()

In [7]:
spark

In [8]:
df_aluno = spark.createDataFrame([
        {"id": 1,"nome": "fabio"},
        {"id": 2,"nome": "pedro"}
])

In [9]:
type(df_aluno)

pyspark.sql.dataframe.DataFrame

In [10]:
df_aluno.show()

+---+-----+
| id| nome|
+---+-----+
|  1|fabio|
|  2|pedro|
+---+-----+

In [11]:
##CSV HADOOP

In [14]:
df_csv = spark.read.csv('/datalake/raw/base.csv',header=True,sep=',')

In [15]:
df_csv.show()

+-------+----+---------+
|usuario|item|avaliacao|
+-------+----+---------+
|    109|   9|        3|
|    174| 412|        1|
|      7| 208|        5|
|    371|  97|        5|
|    296| 255|        2|
|    280|  82|        2|
|    271| 275|        4|
|    110| 791|        2|
|     59| 926|        1|
|    217| 576|        1|
|    145| 665|        5|
|    334| 204|        4|
|     42| 568|        4|
|    200| 143|        5|
|     89| 387|        5|
|    311| 588|        4|
|    235| 269|        4|
|    287| 156|        5|
|    344| 204|        4|
|     43| 289|        4|
+-------+----+---------+
only showing top 20 rows

In [16]:
df_json = spark.read.json('/datalake/raw/Employees100K.json')

In [17]:
df_json.count()

200000

In [18]:
df_json.printSchema()

root
 |-- Address: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- DateOfJoining: string (nullable = true)
 |-- Designation: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Interests: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- index: struct (nullable = true)
 |    |-- _index: string (nullable = true)
 |    |-- _type: string (nullable = true)

In [19]:
#S3

In [23]:
df_dados = spark.read.json('s3a://camada-bronze/dados')

In [24]:
df_dados.show()

+------------+------+-----+---------+-----------------+-------+-----+
|estado_civil|genero|idade|  produto|produto_categoria|usuario|valor|
+------------+------+-----+---------+-----------------+-------+-----+
|           0|     M|36-45|P00265242|                5|1001640| 8771|
|           0|     M|36-45|P00250342|               16|1001640| 8146|
|           0|     M|36-45|P00148542|                1|1001640| 7949|
|           0|     M|36-45|P00071242|                1|1001640|11506|
|           0|     M|26-35|P00363442|                1|1001641|15624|
|           0|     M|26-35|P00355142|                1|1001641|19000|
|           0|     M|26-35|P00350442|                2|1001641| 6630|
|           0|     M|26-35|P00024742|                8|1001641| 9823|
|           0|     M|26-35|P00226942|               11|1001641| 1715|
|           0|     M|26-35|P00184942|                1|1001641|19692|
|           0|     M|26-35|P00358242|                8|1001641| 6071|
|           0|     M|51-55|P00116142|               10|1001642|18436|
|           0|     M|51-55|P00295242|                8|1001642| 7777|
|           0|     M|51-55|P00339842|                1|1001642|11927|
|           0|     M|51-55|P00339542|                1|1001642|11713|
|           0|     M|51-55|P00183442|                1|1001642|12058|
|           0|     M|46-50|P00184042|                1|1001643|19353|
|           0|     M|46-50|P00237542|                1|1001643|19289|
|           0|     M|46-50|P00002142|                1|1001643|19419|
|           0|     M|46-50|P00057442|                5|1001643| 8829|
+------------+------+-----+---------+-----------------+-------+-----+
only showing top 20 rows

In [25]:
##BANCO DE DADOS

In [50]:
conn = 'jdbc:postgresql://postgres:5432/dvdrental'

In [51]:
prop = { 
    "user":"admin",
    "password" : "admin",
    "driver" : "org.postgresql.Driver"
}

In [37]:
df_city = spark.read.jdbc(url=conn,table='public.city',properties=prop)

In [38]:
df_city.show()

+-------+--------------------+----------+-------------------+
|city_id|                city|country_id|        last_update|
+-------+--------------------+----------+-------------------+
|      2|                Abha|        82|2006-02-15 09:45:25|
|      3|           Abu Dhabi|       101|2006-02-15 09:45:25|
|      4|                Acua|        60|2006-02-15 09:45:25|
|      5|               Adana|        97|2006-02-15 09:45:25|
|      6|         Addis Abeba|        31|2006-02-15 09:45:25|
|      7|                Aden|       107|2006-02-15 09:45:25|
|      8|               Adoni|        44|2006-02-15 09:45:25|
|      9|          Ahmadnagar|        44|2006-02-15 09:45:25|
|     10|            Akishima|        50|2006-02-15 09:45:25|
|     11|               Akron|       103|2006-02-15 09:45:25|
|     12|              al-Ayn|       101|2006-02-15 09:45:25|
|     13|           al-Hawiya|        82|2006-02-15 09:45:25|
|     14|           al-Manama|        11|2006-02-15 09:45:25|
|     15|          al-Qadarif|        89|2006-02-15 09:45:25|
|     16|            al-Qatif|        82|2006-02-15 09:45:25|
|     17|         Alessandria|        49|2006-02-15 09:45:25|
|     18|Allappuzha (Allep...|        44|2006-02-15 09:45:25|
|     19|             Allende|        60|2006-02-15 09:45:25|
|     20|     Almirante Brown|         6|2006-02-15 09:45:25|
|     21|            Alvorada|        15|2006-02-15 09:45:25|
+-------+--------------------+----------+-------------------+
only showing top 20 rows

In [39]:
df_city.printSchema()

root
 |-- city_id: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- country_id: short (nullable = true)
 |-- last_update: timestamp (nullable = true)

In [52]:
query = '(select c.city_id, city , country  from public.city c \
inner join public.country c2 on c.country_id = c2.country_id ) as tab'

In [53]:
df_query = spark.read.jdbc(url=conn,table=query,properties=prop)

In [56]:
df_query.show(5)

+-------+-----------+--------------------+
|city_id|       city|             country|
+-------+-----------+--------------------+
|      2|       Abha|        Saudi Arabia|
|      3|  Abu Dhabi|United Arab Emirates|
|      4|       Acua|              Mexico|
|      5|      Adana|              Turkey|
|      6|Addis Abeba|            Ethiopia|
+-------+-----------+--------------------+
only showing top 5 rows

In [58]:
df_csv.write.json('/datalake/trusted/json/')

In [59]:
df_csv.write.parquet('/datalake/trusted/parquet/')

In [61]:
df_parquet = spark.read.parquet('/datalake/trusted/parquet')

In [62]:
df_parquet.show(5)

+-------+----+---------+
|usuario|item|avaliacao|
+-------+----+---------+
|    109|   9|        3|
|    174| 412|        1|
|      7| 208|        5|
|    371|  97|        5|
|    296| 255|        2|
+-------+----+---------+
only showing top 5 rows

In [65]:
df_csv.write.orc('/datalake/trusted/orc/', mode='append',compression='zlib')

In [66]:
df_csv.write.format('hive').saveAsTable('default.csv')

In [67]:
df_csv.write.format('hive').insertInto('default.csv2')